

<img id="hammond" src="/Hammond2.png">
<h1> Welcome to Jurassic Park</h1>


<p id='welcome_text'> Hello, Richard Hammond. Welcome to my dinosaur park. I built this with lots of money and no staff,
    well like 4 people! For the entire island. It it all going to go tits up but in the mean
    time <strong>lets play rock, paper, scissors</strong></p>

<a id='link' href ='/results/:hand1/:hand2'> results </a>
